<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="title-path">
            <a ui-sref="index.yunSWHome">云生物</a> >
            <a href="">创建项目流程</a>>
            <a href="">添加子流程</a>
        </div>
        <div class="col-xs-12">
            <form class="form-horizontal col-xs-12 col-sm-9">
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">项目子流程</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">开始状态</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">结束状态</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">更新状态</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">预计周期</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">子流程负责人</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">联系方式</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-3">
                        <label for="" class="control-label">电子邮件</label>
                    </div>
                    <div class="col-xs-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-9">
                        <input type="button" class="btn btn-success" value="添加子流程">
                    </div>
                </div>
            </form>
            <div class="col-xs-12">
                xxxxx项目子流程：
            </div>
            <table class="table">
                <tr>
                    <th class="text-center">项目内容</th>
                    <th class="text-center">开始状态</th>
                    <th class="text-center">结束状态</th>
                    <th class="text-center">更新状态</th>
                    <th class="text-center">预计周期</th>
                    <th class="text-center">负责人</th>
                    <th class="text-center">联系方式</th>
                    <th class="text-center">电子邮件</th>
                </tr>
                <tr>
                    <td>质检</td>
                    <td>已收样</td>
                    <td>质检报告确认</td>
                    <td>质检中</td>
                    <td>5天</td>
                    <td>我是负责人</td>
                    <td>我是联系方式</td>
                    <td>我是电子邮件</td>
                </tr>
                <tr>
                    <td>预实验</td>
                    <td>质检报告确认</td>
                    <td>预实验报告确认</td>
                    <td>预实验中</td>
                    <td>7天</td>
                    <td>我是负责人</td>
                    <td>我是联系方式</td>
                    <td>我是电子邮件</td>
                </tr>
                <tr>
                    <td>正式实验</td>
                    <td>预实验报告确认</td>
                    <td>项目报告发送</td>
                    <td>项目结束</td>
                    <td>40天</td>
                    <td>我是负责人</td>
                    <td>我是联系方式</td>
                    <td>我是电子邮件</td>
                </tr>
            </table>
        </div>
    </div>
</div>