<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="title-path">
            <a ui-sref="index.yunSWHome">云生物</a> >
            <a href="">用户管理</a>
        </div>
        <div class="col-xs-12" ng-controller="yswUserMan">
            <div class="row">
                <div class="clearfix">
                    <div class="col-sm-3">
                        <select style="width: 120px;height: 33px;background: white; border: 1px solid #46aad1; border-radius: 5px;" ng-model="group"> 
                            <option ng-repeat="num in groupCode" value="{{num.id}}">{{num.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-9">
                        <div class="row">
                            <form action="" class="form-inline pull-right" style="padding: 20px">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="搜索用户" ng-model="searchUser">
                                    <span class="input-group-addon" ng-click="searchUserBtn()">
                                        <img class="search-img" src="../../static/ysys/images/search.png" alt="">
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <ul class="clearfix">
                    <li ng-repeat="userInfo in userList">
                        <div class="col-sm-4 allUserlist-content" user-list-hover>
                            <div class="userInfoBox clearfix">
                                <a ui-sref="index.yswUserInfo" ng-click="toUserInfo()" class="allUserlist-link" >点击查看用户详情</a>
                                <ul class="clearfix">
                                    <li class="col-xs-4 pull-left ys-font-color">用户</li>
                                    <li class="col-xs-4 pull-right text-right ys-font-color" ng-hide="keHuUser">{{userInfo.score}} <span ng-show="userInfo.score || userInfo.score=='0'">分</span></li>
                                    <li class="col-xs-4 userInfo-Headerbox"><img ng-src="{{userInfo.head_img_addr}}" class="img-responsive img-circle"></li>
                                </ul>
                                <div class="form-group">
                                    用<span style="display: inline-block;width:8px"></span>户<span style="display: inline-block;width:9px"></span>名： <span>{{userInfo.name}}</span>
                                </div>
                                <div class="form-group">
                                    联系方式： <span>{{userInfo.username}}</span>
                                </div>
                                <div class="form-group">
                                    电子邮件： <span>{{userInfo.email}}</span>
                                </div>
                                <div class="form-group">
                                    单<span style="display: inline-block;width:34px"></span>位： <span>{{userInfo.company}}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <!--分页-->
                <div ng-include="'../../static/ysys/views/common/pagination.html'"></div>
            </div>
        </div>
    </div>
</div>