<div ng-controller="svProvider">
    <div class="wrapper wrapper-content animated fadeInRight">
        <form class="form-inline pull-right" style="padding: 20px">
            <div class="form-group clearfix">
                <div class="col-sm-12 col-xs-12 clearfix" style="margin-top: 10px;">
                    <div class="row">
                        <div class="input-group pull-right">
                            <input type="text" ng-model="searchPro" class="form-control">
                            <span class="input-group-addon" placeholder="搜索" ng-click="searchProBtn()">
                                <img class="search-img" src="../../static/ysys/images/search.png" alt="">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-xs-12 allProlist">
            <div class="row">
                <div class="col-sm-4 col-xs-12 allProlist-box" ng-repeat="pro in proList">
                    <div class="allProlist-content" pro-list-hover>
                        <a ng-click="saveProIDDetail()" ui-sref="index.proManage" class="allProlist-link" style="height: 142px">点击查看项目详情</a>
                        <div class="allProList-left">

                        </div>
                        <ul class="allProLisr-right clearfix">
                            <li class="createDate">
                                <span class="pull-left">{{pro.create_date}}</span>
                                <div class="text-right text-muted hiddenEllipsis ys-font-color">{{pro.label}}</div>
                            </li>
                            <li class="hiddenID">
                                隐藏ID：<span>{{pro.id}}</span>
                            </li>
                            <li class="proNum">
                                项目编号：<span>{{pro.identifier}}</span>
                            </li>
                            <li class="hiddenEllipsis">
                                项目内容：{{pro.content}}
                            </li>
                            <li>
                                样本数量：{{pro.sample_size}}
                            </li>
                            <li>
                                <span class="pull-left">项目进度：</span>
                                <div class="progress" style="margin-left: 90px; margin-right: 30px;">
                                    <div class="progress-bar" style="background: #46aad1"  ng-style="pro.progress">{{pro.progress.width}}</div>
                                </div>
                            </li>
                            <li style="height: 1px; background: #46aad1; margin: -5px -10px 5px -10px"></li>
                            <li class="">
                                <button class="font-icon icon-upload" ng-if="!isWuliuSh" pro-list-click data-target="#svProMan2" ng-click="TK2()" data-toggle="modal" data-toggle="tooltip" data-placement="left" title="上传报告" ng-show="!pro.complete && pro.accept_sample_complete && (!pro.report || (pro.report.customer_confirm && pro.report.yunbio_confirm))">
                                    <!--<i class="fa fa-upload" aria-hidden="true"></i>-->
                                </button>
                                <button class="font-icon icon-progress" data-toggle="modal" data-toggle="tooltip" data-placement="left" title="分派流程" ng-hide="pro.new_process_id || !pro.service_provider_id" ng-click="TKProgress()" pro-list-click data-target="#yswProgress">
                                    <!--<i class="fa fa-exchange" aria-hidden="true"></i>-->
                                </button>
                                <button class="font-icon icon-changeCycle" data-toggle="modal" data-toggle="tooltip" data-placement="left" title="修改周期" ng-show="pro.accept_sample_date && !pro.complete" ng-if="!isWuliuSh" ng-click="TKChangeCycle()" pro-list-click data-target="#yswChangeCycle">
                                    <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
                                </button>
                                <button class="font-icon icon-historyReport" data-toggle="tooltip" data-placement="left" title="历史报告" ng-click="saveProID()" ui-sref="index.downLoadReport">
                                    <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
                                </button>
                                <button class="font-icon icon-projectReport" data-toggle="tooltip" data-placement="left" title="项目资料" ng-click="TKUploadPro()">
                                    <!--<i class="fa fa-pencil" aria-hidden="true"></i>-->
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--分页-->
        <div ng-include="'../../static/ysys/views/common/pagination.html'"></div>
    </div>
    <!--项目报告上传弹框-->
    <div class="modal fade" id="svProMan2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="pull-right" data-dismiss="modal">x</span>
                    <div class="modal-title h4">
                        上传报告:
                    </div>
                </div>
                
                <div class="modal-body clearfix" style="font-size: 16px;">
                    
                    <div class="col-xs-6 KTproNum">项目编号: <span>xxxxx</span></div>
                    <div class="col-xs-6 KTcreateDate">创建日期: <span>xxxxx</span></div>
                    <div class="col-sm-12 TKHiddenID hiddenID">隐藏id: <span></span></div>
                    <div class="col-xs-12" style="margin-top: 5px;">
                        报<span style="display: inline-block;width:31px"></span>告:
                        <span ng-hide="hasFile">
                            无报告
                        </span>
                        <span ng-if="hasFile">
                            {{fileName}}
                            <!--<input type="button" class="btn" ng-click="downLoad()" value="下载报告">-->
                            <button type="button" ng-click="downLoad()" class="btn"><i class="fa fa-download" aria-hidden="true"></i></button>
                        </span>
                    </div>
                    <div class="col-xs-12 uploadBox">
                        <span class="">上<span style="display: inline-block;width:31px"></span>传:</span>
                        <a href="javascript:;" class="a-upload">
                            <input type="file" multiple name="upload_files" class="upload_files_input" file="upload_files"  value="">选择文件
                        </a>
                        <span class="uploadText">{{uploadFilesText}}</span>
                    </div>
                    <div class="col-xs-12">
                        <input type="button" data-dismiss="modal" ng-disabled="!hasUploadFile" ng-click="TKConfirm()" class="btn" style="background: #46aad1;color: #fff;" value="确认">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--项目分配流程弹框-->
    <div class="modal fade" id="yswProgress">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <span data-dismiss="modal" class="pull-right">x</span>
                    <div class="modal-title h4">
                        分派流程:
                    </div>
                </div>
                <ul class="modal-body clearfix" style="font-size: 16px;">
                    <li class="col-sm-6 KTproNum">项目编号: <span>xxxx</span></li>
                    <li class="col-sm-6 KTcreateDate">创建日期: <span>xxxx</span></li>
                    <div class="col-xs-12 TKHiddenID hiddenID">隐藏id: <span></span></div>
                    <li class="col-xs-12">
                        项目流程:  
                        <select class="selectBox" ng-model="progressId" style="margin-left: -1px;">
                            <option ng-repeat="info in selectedProgress" ng-selected="progressId==info.id" value="{{info.id}}">{{info.name | ellipsis:20}}</option>
                        </select>
                    </li>
                    <li class="col-xs-12">
                        <input type="button" data-dismiss="modal" ng-click="TKConfirmProgress()" class="btn submitBtn" style="background: #46aad1;color: #fff;" value="发送">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--修改周期-->
    <div class="modal fade" id="yswChangeCycle" style="font-size: 16px">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <span data-dismiss="modal" class="pull-right">x</span>
                    <div class="modal-title h4">
                        修改周期
                    </div>
                </div>
                <div class="modal-body clearfix">
                    <div class="row">
                        <div class="col-xs-12">
                        名<span style="display: inline-block;width:31px"></span>称：{{cycleData.name}}
                    </div>
                    <div class="col-xs-12">
                        周<span style="display: inline-block;width:31px"></span>期：{{cycleData.cycle}}
                    </div>
                    <div class="col-xs-12">
                        周期过半的通知: {{cycleData.half_cycle_message_status?"已发送":"未发送"}}
                    </div>
                    <div class="col-xs-12" style="padding-bottom: 15px">
                        开始时间：{{cycleData.start_date}}    {{cycleData.start_time}}
                    </div>
                    <div>
                        <div class="col-xs-12">
                            <label for="">修改:</label>
                        </div>
                        <div class="col-sm-3">
                            当前时间:
                        </div>
                        <div class="col-sm-9" style="padding-bottom: 5px">
                            <input type="text" id="dataInput6" date-inp  placeholder="点击选择日期" class="demo-input">
                            <!--<input type="text" ng-model="start_time">-->{{samplingDate}}
                        </div>
                        <div class="col-sm-3">
                            周<span style="display: inline-block;width:31px"></span>期: 
                        </div>
                        <div class="col-sm-9" style="padding-bottom: 5px">
                            <input type="text" class="cycleDay" ng-model="cycle">
                            <span ng-show="!isNumber" style="color: red;">必须为数字</span>
                        </div>
                        <div class="col-xs-12" style="padding-bottom: 5px">
                            <span class="yujiDate"></span>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <input type="button" ng-disabled="canConfirm" style="background: #46aad1;color: #fff;" class="btn submitBtn" data-dismiss="modal" ng-click="confirmChangeCycle()" value="确定">
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>