
<ul class="pagination pull-right pagination-lg">
    <li class="prev" ng-click="prevPage()"><a href="javascript:;">&laquo;</a></li>
    <li class="numPage"><a href="javascript:;"><span>1</span>/<span>1</span></a></li>
    <li class="next" ng-click="nextPage()"><a href="javascript:;">&raquo;</a></li>
    <li class="toPage"><a href="javascript:;"><input type="text"></a></li>
    <li class="toPageBtn" ng-click="toNumPage()"><a href="javascript:;" style="padding-bottom: 3px"><input type="button" value="跳页"></a></li>
</ul>