<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="title-path">
            <a href="javascript:;" ng-click="backHomePage()">云生物</a> >
            <a ui-sref="index.personalSetting">个人设置</a> >
            <a href="">修改密码</a>
        </div>
    </div>
    <form action="" name="changePwdForm" class="form-horizontal col-sm-9 col-xs-12" style="padding-top: 20px;" ng-controller="changePwd">
         <div class="form-group">
            <div class="col-sm-3">
                <label for="" class="control-label">旧密码:</label>
            </div>
            <div class="col-sm-9">
                <input type="text" ng-model="oldPwd" class="form-control"
                                name="oldPwd"
                                required
                                ng-minlength="6"
                                ng-maxlength="12"
                                placeholder="请输入6-12位字母数字组合">
            </div>
            <div class="col-sm-offset-3 col-sm-9 col-xs-12 text-danger" ng-if="changePwdForm.oldPwd.$dirty">
                <span ng-show="changePwdForm.oldPwd.$error.required">为空</span>
                <span ng-show="changePwdForm.oldPwd.$error.minlength">小于6</span>
                <span ng-show="changePwdForm.oldPwd.$error.maxlength">大于12</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <label for="" class="control-label">新密码:</label>
            </div>
            <div class="col-sm-9">
                <input type="text" ng-model="newPwd" class="form-control"
                                name="newPwd"
                                required
                                ng-minlength="6"
                                ng-maxlength="12"
                                placeholder="请输入6-12位字母数字组合">
            </div>
            <div class="col-sm-offset-3 col-sm-9 col-xs-12 text-danger" ng-if="changePwdForm.newPwd.$dirty">
                <span ng-show="changePwdForm.newPwd.$error.required">为空</span>
                <span ng-show="changePwdForm.newPwd.$error.minlength">小于6</span>
                <span ng-show="changePwdForm.newPwd.$error.maxlength">大于12</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <input type="button" class="btn" style="background: #46aad1;color: #fff;" ng-disabled="changePwdForm.$invalid" ng-click="changePwd()" value="保存">
            </div>
        </div>
    </form>
</div>