<!DOCTYPE html>
{% load static %}
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="{% static 'service_provider/' %}js/angular.min.js"></script>
</head>
<body ng-controller="con">
    <h3>重置项目</h3>
    <form>
        项目id <input type="text" name="project_id" ng-model="project_id" ng-init="project_id='1'"><br>
        <p>----我是奇怪的分割线----</p>
        <input type="button" ng-click="sub()" value="保存">
    </form>
</body>
<script type="text/javascript">
    angular.module("app",[])
        .controller("con",function($scope,$http){
            $scope.sub = function(){
                tmp = []
                t = {
                }
                tmp.push(t)
                tmp = JSON.stringify(tmp)
                target = {
                    'save': tmp,
                }
                tmp_url = (
                    "http://127.0.0.1:8000/service_provider/two_params/"
                    + $scope.project_id +
                    "/reset_project"
                )
                $http({
                    headers : {
                        'Content-Type': 'multipart/form-data'
                    },
                    method: "POST",
                    url: tmp_url,
                    data : target,
                    transformRequest: function (data, headersGetter) {
                        var formData = new FormData();
                        angular.forEach(data, function (value, key) {
                            formData.append(key, value);
                        });

                        var headers = headersGetter();
                        delete headers['Content-Type'];

                        return formData;
                    },
                }).then(function(response){
                    console.log(response);
                },function(response){
                    console.log(response);
                });
            }
        })
</script>
</html>